.cabecalho {
    display: flex;
    flex-direction: column;
    width: 90%;
    position: relative;
    right: 0;
}

.cabecalho__nav__btn {
    align-self: flex-end;
    margin: 1.5em 0 1.5em 0;
    transition: 500ms;
    outline: none;
}

.nav__btn-hamburgue {
    width: 100%;
    height: 100%;
    padding: 1rem 1rem;
}

.cabecalho__nav__btn:focus,
.cabecalho__nav__btn {
    background-color: var(--rosa-queimado-claro);
    border-radius: 16px;
}

.cabecalho__nav {
    z-index: 10;
    align-self: flex-end;
    background-color: var(--rosa-escuro);
    position: fixed;
    width: 60vw;
    height: 100vh;
    display: flex;
    right: 0;
    flex-direction: column;
    padding: 2.5rem 1.5rem;
    color: var(--branco);
    animation: 1s;
    margin-right: -100vw;
}

@keyframes showMenuMobile {
    from {
        margin-right: -100vw;
    }

    to {
        margin-right: 0;
    }
}

@keyframes closedMenuMobile {
    from {
        margin-right: 0;
    }

    to {
        margin-right: -100vw;
    }
}

.cabecalho__nav__icone {
    width: 28px;
    margin-bottom: 40px;
    padding: 1px;
    transition: 500ms;
}

.cabecalho__nav__icone:hover,
.cabecalho__nav__icone:focus {
    width: 35px;
    outline: none;
}

.cabecalho__nav__titulo {
    font-size: 30px;
    border-bottom: 3px var(--rosa-queimado-claro) solid;
    border-radius: 2px;
    padding-bottom: 5px;
    margin-bottom: 24px;
}

.nav__lista__itens {
    cursor: pointer;
    font-size: 18px;
    font-weight: 300;
    transition: 500ms;
    display: flex;
    align-items: center;
    padding-left: 10px;
}

.nav__lista__itens a {
    outline: none;
    transition: 500ms;
}

.nav__lista__itens:not(:last-child) {
    margin-bottom: 16px;
}

.nav__lista__itens:hover,
.nav__lista__itens a:focus,
.cabecalho__nav__lista:hover {
    font-size: 20px;
}

.nav-ativo {
    background-color: var(--rosa-queimado-claro);
    padding: 7px 13px;
    color: #000;
    border-radius: 8px;
    transition: 500ms;
    font-weight: 380;
}

.nav-ativo:hover,
.nav-ativo:focus {
    padding: 10px 13px
}

.cabecalho__nav__btn-login {
    align-self: center;
    width: 100%;
    text-align: center;
    position: absolute;
    top: 80vh;
}

.cabecalho__nav__btn-entrar,
.cabecalho__nav__btn-sair {
    background-color: var(--rosa-queimado-claro);
    height: 30px;
    width: 80%;
    border-radius: 8px;
    color: black;
    transition: 500ms;
    position: relative;
    outline: none;
}

.cabecalho__nav__btn-entrar:hover,
.cabecalho__nav__btn-sair:hover,
.cabecalho__nav__btn-entrar:focus,
.cabecalho__nav__btn-sair:focus {
    background-color: var(--rosa-claro);
    height: 40px;
}

/* NEDIA: */
@media only screen and (min-width: 1200px) {

    .cabecalho__nav__btn,
    .cabecalho__nav__icone,
    .cabecalho__nav__titulo {
        display: none;
        width: 90vw;
    }

    .cabecalho {
        width: 90%;
        align-self: flex-end;
    }

    .nav-ativo {
        background-color: var(--rosa-escuro);
        color: var(--branco);
    }

    .nav-ativo:hover,
    .nav-ativo:focus {
        padding: .4em 1.5em;
        font-size: 18px;
    }

    .cabecalho__nav {
        white-space: nowrap;
        display: flex;
        justify-content: flex-end;
        flex-direction: row;
        position: relative;
        align-self: flex-start;
        height: auto;
        width: 100%;
        right: 5%;
        background-color: transparent;
    }

    .nav__lista__itens:not(:last-child) {
        margin-bottom: 0;
    }

    .cabecalho__nav__lista {
        list-style: none;
        display: flex;
        gap: 16px;
        transition: 200ms;
    }

    .cabecalho__nav__btn-login {
        position: static;
        width: auto;
        margin-left: 1em;
    }

    .cabecalho__nav__btn-entrar,
    .cabecalho__nav__btn-sair {
        width: auto;
        padding: 5px 1em;
    }

    .cabecalho__nav__btn-entrar:hover,
    .cabecalho__nav__btn-sair:hover,
    .cabecalho__nav__btn-entrar:focus,
    .cabecalho__nav__btn-sair:focus {
        background-color: var(--rosa-claro);
        padding: 5px 1.5em;
        height: 30px;
    }

    .nav__lista__itens {
        font-weight: 350;
    }
}