.principal {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 45px;
    transition: 200ms;
}

.principal__titulo {
    text-align: center;
    position: relative;
    top: -50px;
}

.principal__nome-artistico {
    font-size: 35px;
    font-weight: 500;
    color: var(--branco);
    margin-bottom: 8px;
}

.principal__nome-artista {
    font-size: 20px;
    font-weight: 200;
    color: var(--branco);
}

.principal__btn-inserir {
    margin-bottom: 16px;
    background: url(../img/mais.svg) no-repeat;
    background-position: 30%;
    padding-left: 45px;
}

.principal__dropdown-titulo {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../img/dropdown-fechado.svg);
    background-position: 65%;
    padding-right: 45px;
}

.principal__btn-inserir,
.principal__dropdown-titulo {
    width: 90%;
    text-align: center;
    background-color: var(--rosa-escuro);
    border-radius: 8px;
    height: 40px;
    color: var(--branco);
    font-size: 18px;
    font-weight: 300;
    transition: 500ms;
    background-repeat: no-repeat;
}

.principal__btn-inserir:hover,
.principal__btn-inserir:focus,
.principal__dropdown-titulo:focus,
.principal__dropdown-titulo:hover {
    background-color: var(--rosa-escuro2);
    height: 50px;
    outline: none;
}

.principal__dropdown-lista {
    display: none;
}

.principal__galeria {
    column-width: 300px;
    column-gap: 16px;
    margin-top: 24px;
    width: 90%;
}

.principal__galeria img {
    width: 100%;
    border-radius: 5px;
    margin-bottom: 16px;
    object-fit: contain;
    transition: 500ms;
}

.principal__galeria img:focus {
    filter: contrast(130%);
    outline: 2.5px solid var(--rosa-escuro);
}

.principal__galeria img:hover {
    filter: contrast(130%);
}

.principal__btn-topo{
    z-index: 8;
    padding: .8rem;
    background-color: var(--rosa-escuro);
    border-radius: 30px;
    position: fixed;
    bottom: 30px;
    right: 7%;
    display: none;
}

.showBtnTopo .principal__btn-topo{
    display: block;
}

/* MEDIA: */
@media only screen and (min-width: 730px) {
    .principal__titulo {
        margin: 50px 0;
    }

    .principal__btn-inserir {
        background-position: 40%;
    }

    .principal__dropdown-titulo {
        background-position: 58%;
    }
}

@media only screen and (min-width: 1400px) {
    .principal__btn-inserir {
        width: 7em;
        height: 2.1em;
        background-position: 50%;
        margin: 0;
        align-self: flex-end;
        position: relative;
        top: 35px;
        margin-right: 5%;
        padding: 0;
        background-color: var(--rosa-queimado);
        background-image: url(../img/mais2.svg);
    }

    .principal__btn-inserir span {
        display: none;
    }

    .principal__btn-inserir:focus, .principal__btn-inserir:hover{
        height: 2.1em;
        background-image: url(../img/mais.svg);
    }

    .principal__dropdown__container {
        display: flex;
        width: 80%;
        margin-right: 10%;
    }

    .principal__dropdown-titulo {
        display: none;
    }

    .principal__dropdown-lista {
        display: flex;
        align-self: flex-start;
        gap: 16px;
        color: var(--branco);
        overflow: auto hidden;
    }

    .principal__dropdown-lista li {
        background-color: var(--rosa-escuro);
        border-radius: 8px;
        height: 35px;
        padding: 0 1.3em;
        white-space: nowrap;
        font-size: 18px;
        font-weight: 300;
        transition: 500ms;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: .5em;
    }

    .principal__dropdown-lista li:hover,
    .principal__dropdown-lista li:focus {
        padding: 0 1.8em;
        background-color: var(--rosa-escuro2);
    }
}